GITLAB_USERNAME="NiciusB"
GIT_USERNAME="NiciusB"
GIT_EMAIL="nuno@balbona.me"
FAKE_COMMITS_REPO_URL="git@github.com:NiciusB/sync-contributions-calendar-fake-commits.git"
FAKE_COMMITS_REPO_DEPLOY_KEY_PUBLIC="ssh-rsa qwefffq3vvfAdhTw=="
FAKE_COMMITS_REPO_DEPLOY_KEY_PRIVATE="-----BEGIN RSA PRIVATE KEY-----\nMIICXAIBAwefwefNgXEek\nGgQXw91B+YJXW7htELlwefwef/mmQ9QlJy\nni3KWEFWEFfAdhTwIDAQAB\nAoGAaFMTetrZDYeQy8HxdcvgOl7RCkzWoj2c28cP2n549kKeZBqBh8TImmYLXkJx\ntnqBPcI0dndKIwefwefwefGVppYNTSO74m1jwefR+VtsNqLD\nwM2VbLidPwOCpzHMP/VLJt2ZhtB0AM0/0Cn0FmQXwefwefj\nOrX4ATFHr866wDIyF2Uethqj93Pc4bA0tR0DdJKb1xbTgRSsoxI/m4iSWpZhvvPb\nyss0uTSnAkEAsYirVQvVOwvMuLBH2g5aEKbWwhUReUs55dn2gOHAUBoOsnwFCZQk\nQ4+EpuJG1RO49u8H5bgiZeGLm7ke7NN7GQJAJznG098wPhzhCscI/WtjcfAIDQha\ngH4SJ3pKhVhEaWSOicE7paPxG5SwCKauontvnlLM53AshfTEn7e0wefwefwefwef\n+kucW5Aso9If2+VJqPUDvorfVLwY8dEdWiwefwefwef1C0WaDSPZYtmu96cZbv\nExPIcVP64tCiHPZBMQJBAKjrC662Lb8CGFAFQMJRZ5L/vddeZZDLjqwBs512zLCc\nD2ywTXh7LJt1wefwefXbpc=\n-----END RSA PRIVATE KEY-----"